<h1>Componentes de coches</h1>

<form #formCoche="ngForm" (ngSubmit)="onSubmit()">
    <p>
        <label><strong>Nombre :</strong></label>
        <input type="text" name="nombe" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
        <span *ngIf="nombre.touched && !nombre.valid">
            El nombre es requerido
        </span>
    </p>
    <p>
        <label><strong>Color :</strong></label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[0-9]+">
        <span *ngIf="color.touched && !color.valid">
            Solo son numeros
        </span>
    </p>
    <p>
        <label><strong>Modelo :</strong></label>
        <input type="text" name="modelo" #modelo="ngModel" [(ngModel)]="coche.modelo" pattern="[a-zA-Z#]+">
        <span *ngIf="modelo.touched && !modelo.valid">
                Solo texto 
            </span>
    </p>
    <input type="submit" value="Guardar datos">
</form>