.fondoVerde{
    background: green;
}
.fondoAzul{
    background: blue;
}

.fondoRojo{
    background: red;
}
.letraBlanca{
    color: white;
}

.activado{
    font-weight: bold;
    background: yellow;
}